.bodymain {
  position: relative;
  margin: auto;
  max-width: 800px;
  min-width: 100px;

}

.bodyabout {
  margin:auto;
  max-width: 815px
}

img {
  border: 2px;
  border-color: black;
  border-style: solid;
  box-shadow: 5px 5px 10px gray;
  /* h-offset, v-offset, blur-rad, color */
}

table {
  font-family: "Arial", sans-serif;
}

td {
  padding: 5px;
}

#list {
  margin: 0;
  padding-bottom: 3em;
}

a {
  color: #00cc99;
}

#header {
  background-image: url("USlogo.jpg");
  
}

#h1 {
  margin-left: 100px
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

@media only screen and (max-width: 500px) {
    #image img {
      display: none;
    }
  }
